@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
nav h3 {
  color: whitesmoke;
}

.img_navbar {
  width: 10%;
}

.Header{
  display: flex;
  justify-content: space-between;
}

.Games-list {
  padding: 2rem;
  margin-top: 2rem;
  justify-content: center;
  text-decoration: none;
  border: 1px solid grey;
  
}

.Img-games-home {
  width: 20%;
  height: auto;
}

.dice-image {
  width: 5%;
  height: auto;
}