@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
nav h3 {
  color: whitesmoke;
}

.img_navbar {
  width: 5%;
  display: block;
}

.Header{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.Games-list {
  padding: 2rem;
  margin-top: 2rem;
  justify-content: center;
  text-decoration: none;
  border: 1px solid grey;
.menu-link {
  padding: 8px;
  margin: 4px;
  
}

.menu-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.dice-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.dice-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.dice-image {
  width: 15%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 1%;

  display: inline-flex;
}

.formContainer {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.labelForm {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.labelForm label {
  font-size: 16px;
  margin-bottom: 5px;
}

.inputField {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

}


.card {
  margin: 1rem;
  
}

.Cointainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
